{% extends 'base.html'  %}
{% load static %}
{%block title %}লাইব্রেরী{% endblock%}

{% block content %}
<div class="card-header" style="text-align: center;font-family: 'Atma', cursive;background-color: rgb(176, 245, 176);color: red; font-size: 30px;">
  লাইব্রেরী
</div>
<br>
<div class="container">
  
<div class="card" style="width: 80%; margin: auto;">
  <img class="card-img" src="/static/Images/library/9.jpg" alt="Card image" style="margin: auto;">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;font-family: 'Atma', cursive;font-size: 35px;color: green;">আমাদের লাইব্রেরী</h5>
    <p class="card-text" style="text-align: justify;font-size: 25px;font-family: 'Atma', cursive;">শিক্ষ্ইা জীবন, জীবনই শিক্ষা। বই হচ্ছে জ্ঞানের ভান্ডার তাই প্রতিটি স্কুলে গ্রন্থাগার হচ্ছে জ্ঞান ভান্ডারের একটি স্থান বা উৎস। প্রতিটি স্কুলে লাইব্রেরী থাকা একান্ত প্রয়োজন। বিভিন্ন গল্পের বই, উপন্যাস, কবিতা, মনীষীদের জীবনি, ম্যাগাজিন, সাহিত্য, ধর্মীয় বই ইত্যাদি স্কুলের গ্রন্থাগারে থাকা আবশ্যক। স্কুলে লাইব্রেরী প্রতিটি শিক্ষার্থীকে জ্ঞান আহরণের জন্য নতুন আলোড়ন সৃষ্টি করতে পারে। স্কুল লাইব্রেরী থেকে যেভাবে শিক্ষার জ্ঞান আহরণ করা যায়, তেমনি শিক্ষার্থীরাও জ্ঞান আহরণের জন্য স্কুল লাইব্রেরীতে বিশেষ সময়ে যেতে পারে। ড্যাপস্ স্কুলে একটি লাইব্রেরী আছে যেখানে ছোট শিক্ষার্থীরাও এসে বই পড়ে সময় কাটায়। কারণ বই হচ্ছে একমাত্র জ্ঞানের ভান্ডার।
      <br><br>
      
    বই পড়ার মাধ্যমে, তারা নিজেদেরকে নতুন জিনিস, নতুন তথ্য, সমস্যার সমাধান করার নতুন উপায় অর্জনের মাধ্যমগুলো খুজে পায়। আমরা নিয়মিতভাবে লাইব্রেরি ব্যবহার করার জন্য আমাদের ছাত্র/ছাত্রীদের অনুপ্রাণিত করি এবং সপ্তাহে অন্তত একবার লাইব্রেরি পরিদর্শন করাই। সন্তানদের পড়াশোনা বাড়ানোর জন্য কাদিরাবাদ উচ্চ বিদ্যালয় অভিজ্ঞ এবং যোগ্যতাসম্পন্ন  শিক্ষক দ্বারা পরিচালিত হয়। শিক্ষার্থীদের গ্রন্থাগারের যথাযথ ব্যবহার শেখানো হয়,বই সম্পর্কে ধারনা দেওয়ার জন্য এবং শান্তভাবে পড়াতে তাদের সহায়তা করার জন্য গ্রন্থাগারে সহায়তা প্রদান করা হয়।</p>
    
  </div>
</div>

</div>
<br>
<br>



{%endblock%}
